.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SignInDiv {
  background-color: #61dafb;
}
.welcomeHeader {
  font-family: "Satisfy", cursive;
  font-size: 50px;
}
#SignIn {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.btnSign {
  display: flex;

  margin: 20px;
  gap: 50px;
}
.logOut {
  display: flex;
  margin-left: 80vw;
  justify-items: right;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 50px;
  font-family: "Satisfy", cursive;
}
.homeName {
  position: absolute;
  text-decoration: none;
  color: #000;

  left: 75px;
}
.HomeStyle {
  background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.createJam {
  font-family: "Satisfy", cursive;
  background-image: url("https://ak.picdn.net/shutterstock/videos/17946946/thumb/1.jpg");
  font-size: 30px;
}
.cmj {
  color: crimson;
  font-size: 50px;
}
.navBar {
  background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.jam3yaDetail {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.enroll {
  margin-top: 10%;
  display: block;
  background-color: white;
  width: 150px;
  height: 550px;
  font-family: "Satisfy", cursive;
  
}
